﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Hello World!</h1>

<div id="paper"></div>

@Scripts.Render("~/scripts/vendor/jquery.js")
@Scripts.Render("~/scripts/jointjs/lodash.min.js")
@Scripts.Render("~/scripts/jointjs/backbone-min.js")
@Scripts.Render("~/scripts/jointjs/joint.min.js")
@Scripts.Render("~/scripts/joint.shapes.architecture.js")

<script type="text/javascript">
    $(function () {
        // Joint example to check feasibility of architectural diagram
        // Useful links:
        //  * http://www.jointjs.com/demos/erd
        //  * http://www.jointjs.com/tutorial
        //  * http://www.jointjs.com/api
        //  * http://www.jointjs.com/tutorial#custom-elements

        var graph = new joint.dia.Graph();

        var paper = new joint.dia.Paper({
            el: document.getElementById('paper'),
            width: 695,
            height: 600,
            gridSize: 1,
            model: graph,
            linkPinning: false,
            linkConnectionPoint: joint.util.shapePerimeterConnectionPoint
        });

        // Custom highlighter - display an outline around each element that fits its shape.

        var highlighter = V('path', {
            'stroke': '#e9fc03',
            'stroke-width': '2px',
            'fill': 'transparent',
            'pointer-events': 'none'
        });

        var paraliasAir = new joint.shapes.architecture.Folder({
            position: { x: 100, y: 100 },
            attrs: {
                text: { text: '\\\\paralias\\air' }
            }
        });

        var airWriter = new joint.shapes.architecture.Demon({
            position: { x: 300, y: 100 },
            attrs: {
                text: { text: 'Air Writer' }
            }
        });

        var mongoDb = new joint.shapes.architecture.Database({
            position: { x: 500, y: 100 },
            attrs: {
                text: { text: 'Mongo DB' }
            }
        });

        var uniLinkTo = function (elm1, elm2) {
            var myLink = new joint.dia.Link({
                source: { id: elm1.id },
                target: { id: elm2.id },
                attrs: {}
            });

            myLink.attr({
                '.marker-arrowhead[end=source]': {opacity: 0},
                '.marker-arrowhead[end=target]': {fill: 'black', d: 'M 10 0 L 0 5 L 10 10 z'},
                '.link-tools': {opacity: 0}
            });
            
            return myLink.addTo(graph);
        };

        graph.addCells([paraliasAir, airWriter, mongoDb]);

        uniLinkTo(paraliasAir, airWriter);
        uniLinkTo(airWriter, mongoDb);
    });
</script>