﻿<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Arsenal v.1.0</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @RenderSection("styles", required: false)
    </head>

<body>
    <div class="row">
        <div class="small-12 columns">
            @RenderPage("_Navigation.cshtml")
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            @RenderBody()
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Arsenal v.1.0</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/foundation")

    @RenderSection("scripts", required: false)
</body>

</html>
